body {
  box-sizing: border-box;
  margin: 0;
  padding: 2rem;
  background-image: url("./hero.jpg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.attr {
  position: absolute;
  color: white;
  bottom: 4%;
  right: 4%;
}
a {
  color: aquamarine;
}
.title {
  color: white;
}
.container {
  margin-top: 5px;
  height: 80vh;
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  flex-wrap: wrap;
}
.card {
  border-radius: 10px;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}
.card img {
  width: 100px;
}
.card h2 {
  font-size: 15px;
}
.card p {
  font-size: 12px;
}

/* HTML: <div class="loader"></div> */
.loader {
  display: none;
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#ffffff 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}

/* CSS */
.button-1 {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  outline: none;
  padding: 10px 16px;
}
